.dropdownD{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 50%;
}

.noDeco{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    background-color: transparent;
}


.syllabusD{
    position: fixed;
    left: 35%;
    top: 8%;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(107, 105, 105, 0.1);
    background-color:rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    padding: 0 3% 1% 3%;
    opacity: 1;
    height: auto;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease, background-color 0.5s ease, transform 0.5s ease;
    transform: translateY(10%);
    z-index: 8;
}

.syllabusD p{
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 9% 3% 0 2%;
    cursor: pointer;
} 

.syllabusDClose{
    opacity: 0;
    height: 0;
    background-color: transparent; 
    overflow: hidden;
    transform: translateY(0%);   
}

.notesD {
    position: fixed;
    left: 50%;
    top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(107, 105, 105, 0.1);
    background-color:rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    padding: 0 3% 1% 3%;
    opacity: 1;
    height: auto;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease, background-color 0.5s ease, transform 0.5s ease;
    transform: translateY(10%);
    z-index: 8;
}
  
.notesD p {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    margin: 9% 3% 0 2%;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
  
.notesDClose {
    opacity: 0;
    height: 0;
    background-color: transparent; /* Adjust the background color as needed */
    overflow: hidden;
    transform: translateY(0%);
    width: 0;
    padding: 0;
    margin: 0;
    height: 0;
}
  
  

.questionPaperD{
    position: fixed;
    left: 68%;
    top: 8%;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px rgba(107, 105, 105, 0.1);
    background-color:rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    padding: 0 3% 0.5% 3%;
    opacity: 1;
    height: auto;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease, background-color 0.5s ease, transform 0.5s ease;
    transform: translateY(10%);   
    z-index: 8;
    p{
        font-size: 20px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        margin: 9% 3% 0 2%;
        padding-bottom: 1%;
        cursor: pointer;    
    }
}

.questionPaperDClose{
    opacity: 0;
    height: 0;
    background-color:transparent; /* Adjust the background color as needed */
    overflow: hidden;
    transform: translateY(0%);    
}















@media  screen and (max-width: 768px) {
    .dropdownD{
        display: none;
    }
    
}